* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(233, 194, 146, 0.226);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 0 20px;
}


#navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.479);
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.911);
}

.navbar .collapse.show {
  background-color: white;

}

/* Optional: style the whole navbar when open */
.navbar.bg-open {
  background-color: white !important;
    margin-bottom: 60px;
}

#title {
   font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-decoration: none;
  color: rgba(12, 12, 12, 0.779);
  margin-top: 10px;

}

@media (max-width:767px) {
    #title {
        font-size: 30px;
    }
}



#links {
  font-family: 'Times New Roman';
  font-size: 18px;
  padding: 3px;
  margin: 6px 0px;
  margin-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);
}

#links:hover {
  color: rgb(238, 164, 54);
  transition: 0.3s;
}

@media (max-width:767px) {
   #link {
        font-size: 80px;
    }
}

/* about */
#about {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-bg {
  background-image: url("https://media.istockphoto.com/id/929904308/photo/bouquet-at-the-beach.jpg?s=612x612&w=0&k=20&c=wKztFI2bKpRJ6kB6wmn4sLcSquz7cV6wxSHFmlRV2p8=");
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.8;
}


/* footer */
.footer {
  width: 100%;
  height: 60px;
  background: rgba(223, 202, 181, 0.58);
  border-top: 1px solid rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(10px);
  height: 100px;
  margin-top: 50px;

}

.footer-text {
  color: rgba(31, 29, 29, 0.868);
  font-family: 'Times New Roman';
  font-size: 18px;
}

.footer-text {
  margin-top: 30px;
}

.icon {
  color: rgba(24, 23, 23, 0.993);
  font-family: 'Times New Roman';
  font-size: 18px;
  text-decoration: none;
}

/* about section */
.images {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* home albums */

#album {
  height: 600px;
  width: 1000px;
  background: rgba(223, 202, 181, 0.58);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#album:hover {
  transform: translateY(-10px);
  box-shadow: #f5c799e4 0px 10px 20px;
  transition: all 0.3s ease;
}

a:hover {
  color: black;

}

/* services */
.services:hover {
  transform: translateY(-10px);
  box-shadow: #f5c799e4 0px 10px 20px;
  transition: all 0.3s ease;
}
/* 
.portfolioimg {
    max-width: 100%;
    width: 100%;
    height: auto !important;
} */

@media (max-width:767px) {
    .portfolioimg {
        max-width: 0%;
        max-height: 0%;
    }
}

@media (min-width:768px) {
    .portfolioimg {
        max-width: 0;
        max-height: 0;
    }
}

@media (min-width:992px) {
    .portfolioimg {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .portfolioimg {
        max-width: 380px;
        max-height: 380px;
    }
}